<footer class="footer" role="contentinfo">
    <div class="footer-logo">
        <img src="../assets/images/w-light-logo.svg" alt="Logo image">
    </div>
    <div class="footer-links">
        <ul>
            <li>
                <h3>Content</h3>
            </li>
            <li><a ui-sref="home">Home</a>
            </li>
            <li><a href="https://docs.google.com/forms/d/1okH-DlFgC_s_wrzWZ2g6l_fnr_UCqCyOtZ8JjkhiWfs/viewform?usp=send_form" target="_blank">RSVP</a>
            </li>
            <li><a ui-sref="wedding">The Wedding</a>
            </li>
            <li><a ui-sref="charity">Charity</a>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Follow Robert</h3>
            </li>
            <li><a href="http://www.rtward.com" target="_blank">Website</a>
            </li>
            <li><a href="https://www.facebook.com/rtward" target="_blank">Facebook</a>
            </li>
            <li><a href="https://twitter.com/rtward" target="_blank">Twitter</a>
            </li>
            <li><a href="https://github.com/rtward" target="_blank">Github</a>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Follow Kim</h3>
            </li>
            <li><a href="http://kimwalta.com" target="_blank">Website</a>
            </li>
            <li><a href="https://www.facebook.com/kim.walta" target="_blank">Facebook</a>
            </li>
            <li><a href="https://twitter.com/belovedlasher" target="_blank">Twitter</a>
            </li>
            <li><a href="https://github.com/antigrl" target="_blank">Github</a>
            </li>
            <li><a href="https://instagram.com/belovedlasher/" target="_blank">Instagram</a>
            </li>
        </ul>
    </div>
</footer>