<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="../assets/images/w-dark-logo.svg" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a ui-sref="home">Home</a></li>
        <li class="nav-link"><a ui-sref="wedding">Wedding</a></li>
        <li class="nav-link logo">
          <a ui-sref="home" class="logo">
            <img src="../assets/images/w-dark-logo.svg" alt="Logo image">
          </a>
        </li>
        <li class="nav-link"><a href="https://docs.google.com/forms/d/1okH-DlFgC_s_wrzWZ2g6l_fnr_UCqCyOtZ8JjkhiWfs/viewform?usp=send_form" target="_blank">RSVP</a></li>
        <li class="nav-link"><a ui-sref="charity">Charity</a></li>
      </ul>
    </nav>
  </div>
</header>