.footer {
    background:#333;
    padding:3em 1.618em 1em;
    width:100%;
}
.footer .footer-logo {
    margin-bottom:2em;
    text-align:center;
}
.footer .footer-logo img {
    height:3em;
}
.footer .footer-links {
    margin-bottom:1.5em;
}
.footer .footer-links::after {
    clear:both;
    content:"";
    display:table;
}
.footer ul {
    margin-bottom:3em;
    padding:0;
}
.footer li {
    line-height:1.5em;
    list-style:none;
    text-align:center;
}
@media screen and (min-width:40em) {
    .footer .footer-links {
        margin-left:25.58941%
    }
    .footer ul {
        float:left;
        display:block;
        margin-right:2.35765%;
        width:23.23176%
    }
    .footer ul:last-child, .footer ul:nth-child(3n) {
        margin-right:0
    }
    .footer ul:nth-child(3n+1) {
        clear:left
    }
    .footer ul::after {
        clear:both;
        content:"";
        display:table;
    }
    .footer li {
        text-align:left;
    }
}
.footer li a {
    color:rgba(255, 255, 255, .4);
    text-decoration:none;
    font-weight: normal !important;
}
.footer li a:focus, .footer li a:hover {
    color:#fff;
}
.footer li h3 {
    color:#fff;
    font-size:1em;
    font-weight:800;
    margin-bottom:.4em
}
.footer hr {
    border:1px solid rgba(255, 255, 255, .1);
    margin:0 auto 1.5em;
    width: 12em;
}
.footer p {
    color:rgba(255, 255, 255, .4);
    font-size:.9em;
    line-height:1.5em;
    margin:auto;
    max-width:35em;
    text-align:center;
}