p {
  margin: 0;
}

.location {
  text-align: center;
  h2 {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #808080;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 30px;
    &:before,
    &:after {
      content: ' ';
      display: block;
      width: 226px;
      height: 53px;
      position: absolute;
      top: 5px;
      background-repeat: no-repeat;
    }
    &:before {
      left: -230px;
      background-image: url("../assets/images/heading-left.jpg");

    }
    &:after {
      right: -230px;
      background-image: url("../assets/images/heading-right.jpg");

    }
    p {
      margin-top: -1px;
      font-size: 12px;
      font-weight: normal;
    }
  }
}
.subheading {
  color: #4b4b4b;
  font-family: $serif;
  font-size: 1.5em;
  text-align: center;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.ceremony {
  dl {
    margin: 1em 0 0 2.5em;
  }
  dt, dd {
    float: left;
    margin: 0;
  }
  dt {
    font-family: $serif;
    display: block;
    clear: both;
    width: 70px;
    text-align: right;
    margin-right: 1.2em;
    font-size: 1.6em;
    color: #333;
    font-weight: normal;
  }

  dd {
    text-align: left;
    margin-bottom: 1.4em;
    display: block;
  }
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: #000;
  }
}

button,
input[type=submit] {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #808080;
  &:hover {
    background-color: #000;
  }
}
