@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon",
"../../bower_components/neat/app/assets/stylesheets/neat",
"../../bower_components/bitters/app/assets/stylesheets/base";

@import "variables";
@import "typography";
@import "mediaqueries";
@import "navbar";
@import "hero";
@import "maps";
@import "footer";


$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

// Mixins
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  background-color: #ececec;
  background: url("../assets/images/bg-pattern.jpg") repeat;
  margin: 0;
  overflow-x: hidden;
  transform-style: preserve-3d;
  font-family: 'futura-pt', sans-serif;
  color: #606060;
  font-size: 14px;
  line-height: 22px;
}

.grid-row {
  @include outer-container;
  .grid-cell {
    @include span-columns(12);
    @include media($tablet) {
      @include span-columns(6);
    }
    @include media($desktop) {
      @include span-columns(6);
    }
  }

  .grid-single-cell {
    @include span-columns(12);
  }

  .grid-third-cell {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(12);
    }
  }

  .grid-half-cell {
    @include span-columns(6);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .grid-large-cell {
    @include span-columns(8);
  }

  .last {
    @include omega;
  }
}

.jefferson-img {
  @include span-columns(3);
  @include shift(2);
  text-align: right;
}

.container {
  @include outer-container;
  padding-top: 30px;
  width: 1000px;


  .top-heading {
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 1px 7px rgba(0,0,0,0.2);
    padding: 20px 40px;
    @include media($large-screen) {
      @include span-columns(10);
      @include shift(1);
      @include omega;
    }
  }


  article {
    text-align: center !important;
    padding: 0 10px;
    @include media($large-screen) {
      text-align: left;
      @include span-columns(6);
    }

  }

  h3 {
    font-family: $serif;
    font-weight: normal;
    font-size: 1.6em;
    color: #333;
    text-align: left;
    margin: 0;
  }

  .archreactor {
    @include media($large-screen) {

    }
  }
}

// Wedding section
.map-left {
  margin-bottom: 30px;
  float: left;
  position: relative;
  z-index: 3;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 1px 7px rgba(0,0,0,0.2);
}

.ceremony-right,
.hotel-left,
.hotel-right {
  float: left;
}


.hotel-left,
.hotel-right {
  @include span-columns(6);

  .contain {
    float: left;
    width: 100%;
    padding: 15px 0 25px 0;
    position: relative;

    img {
      margin-bottom: 10px;
    }
  }
}

.hotel-right {
  @include omega;
}

.half-text-left {
  width: 220px;
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}